<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>PicMan Dashboard</title>
        <meta charset="utf-8">
        <meta name="author" content="Angelo">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="shortcut icon" th:href="@{/imgs/logo.png}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css">

        <script th:inline="javascript">
            const rowsShown = parseInt([[${maxImagesRow}]], 10)
            /*      GRIDVIEW        */
            function gridViewInitial(rows) {
                const rowsTotal = rows.length;
                const numPages = rowsTotal / rowsShown;
                for(i = 0;i < numPages;i++) {
                    let pageNum = i + 1;
                    $('#pnav').append('<a class="table-pg-s ib b-1-do" href="#pictures" rel="'+i+'">'+pageNum+'</a> ');
                }

                $.each($(rows), function () {
                    $(this).addClass("n")
                })

                rows.slice(0, rowsShown).removeClass("n");
                $('#pnav a:first').addClass('active');
                $('#pnav a').bind('click', function(){

                    $('#pnav a').removeClass('active');
                    $(this).addClass('active');
                    let currPage = $(this).attr('rel');
                    let startItem = currPage * rowsShown;
                    let endItem = startItem + rowsShown;
                    $(rows)/*.css('opacity','0.0')*/.addClass("n").slice(startItem, endItem).removeClass("n")/*.animate({opacity:1}, 300)*/;
                });
            }

            function gridViewUpdate(rows) {
                const rowsTotal = rows.length;
                const numPages = rowsTotal / rowsShown;
                const pictureNavigator = $('#pnav')

                for(i = 0;i < numPages;i++) {
                    let pageNum = i + 1;

                    pictureNavigator.append('<a class="table-pg-s ib b-1-do" href="#pictures" rel="'+i+'">'+pageNum+'</a> ');
                }

                $.each($(rows), function () {
                    $(this).addClass("n")
                })

                rows.slice(0, rowsShown).removeClass("n");
                $('#pnav a:first').addClass('active');
                $('#pnav a').bind('click', function(){

                    $('#pnav a').removeClass('active');
                    $(this).addClass('active');
                    let currPage = $(this).attr('rel');
                    let startItem = currPage * rowsShown;
                    let endItem = startItem + rowsShown;
                    $(rows)/*.css('opacity','0.0')*/.addClass("n").slice(startItem, endItem).removeClass("n")/*.animate({opacity:1}, 300)*/;
                });
            }

            $(document).ready(function () {
                gridViewInitial($('#pictures div[id^="p-"]:not(.gtm)'))
            })
        </script>

        <script th:inline="javascript">
            /*      TAGS SEARCH     */
            $(document).ready(function () {
                let catsMap = [[${categories}]]
                const cats = catsMap.map(i => { return { name: i.name, id: i.id }})

                const res = $('#categories-results')
                const $input = $('input#categories-input')
                let tags = []

                function updateHidden() {
                    $('input#hidden-categories-input').val(tags.join(','))
                }

                function checkValidAndAppend(text) {
                    const yieldedText = cats.filter(i=>i["name"].toLowerCase().includes(text.toLowerCase()))
                    if (yieldedText.length===1 && !tags.includes(yieldedText[0])) {
                        tags.push(yieldedText[0])
                        return yieldedText[0]
                    }
                }

                function createTag(text) {
                    if (!text) return;
                    const res = checkValidAndAppend(text)

                    if (!res) return;

                    let $tag = $('<span class="tag"></span>').text(res["name"]);
                    $tag.on('click', function () {
                        // remove tag on click
                        tags = tags.filter(t => t["name"] !== res["name"]);
                        $tag.remove();
                        updateHidden();
                    });

                    $tag.insertAfter($('#tagsDivBegin'))
                    updateHidden()
                    $input.val('')
                    $input.focus()
                }

                function enterOrBackspace($input, e) {
                    if (e.key === 'Tab' || e.key === ',') {
                        e.preventDefault()
                        const v = $input.val().trim();
                        createTag(v)
                    } else if (e.key === 'Backspace' && $input.val() === '') {
                        const $lastTag = $('#tagsDiv').find('span.tag').last();
                        if ($lastTag.length) {
                            tags.pop()
                            $lastTag.remove()
                            updateHidden()
                        }
                    } else if (e.key === 'Enter' && $input.val() === '') {
                        const shownDivs = $('div[id^="p-"]');
                        if (tags.length !== 0) {
                            let tagsNames = []
                            let checker = (original, target) => target.every(value => original.includes(value))
                            Object.keys(tags).forEach(t => tagsNames.push(tags[t]["name"]))

                            $.each($(shownDivs), function () {
                                //let divid = this.id.split("-")[1];
                                let divTags = $(this).attr("data-tags")

                                if (divTags != null) {
                                    const tagsArr = divTags.split(",")
                                    if (checker(tagsArr, tagsNames)) {
                                        if ($(this).hasClass("gtm")) {
                                            $("#" + this.id + " img").attr("src", $(this).attr("data-src"))
                                        }
                                        $(this).removeClass("n")
                                        $("#" + this.id + " > .ph-controls button.gallery").attr("data-fancybox", "gallery")
                                    } else {
                                        $(this).addClass("n")
                                        $("#" + this.id + " > .ph-controls button.gallery").removeAttr("data-fancybox")
                                    }
                                } else {
                                    $(this).addClass("n")
                                    $("#" + this.id + " > .ph-controls button.gallery").removeAttr("data-fancybox")
                                }
                            })
                            $('#pnav').empty()
                            gridViewUpdate($('#pictures div[id^="p-"]:not(div[id^="p-"].n)'))
                        } else {
                            $.each($(shownDivs), function () {
                                if ($(this).hasClass("gtm")) {
                                    $(this).addClass("n")
                                } else $(this).removeClass("n")
                                $("#" + this.id + " > .ph-controls button.gallery").attr("data-fancybox", "gallery")
                            })
                            $('#pnav').empty()
                            gridViewUpdate($('#pictures div[id^="p-"]:not(.gtm)'))
                        }
                    }
                }

                $input.keydown(function (e) {
                    if ($(this).val().length>1) {
                        res.removeClass("vhdn")
                    }
                    enterOrBackspace($(this), e)
                })

                $input.keyup(function () {
                    const inputval = $(this).val()
                    res.empty()
                    if (inputval.length > 1) {
                        res.removeClass("vhdn")
                        let filter = cats.filter(i => i["name"].toLowerCase().includes(inputval.toLowerCase()))
                        filter = filter.filter(i => !tags.includes(i))
                        if (filter.length===0) {
                            res.append('<p class="no-result">Nessun risultato</p>')
                        } else {
                            filter.forEach(f => {res.append('<p class="result" tabindex="' + (filter.indexOf(f)+1) + '">' + f["name"] + '</p>')})
                            $("p.result[tabindex='1']").attr("autofocus", "true")
                            // For future implementation of result navigability
                        }
                    } else {
                        res.addClass("vhdn")
                        $(this).removeClass('p-b-0')
                    }

                })
                $('div').on('click', '> p.result', function () {
                    $input.val($(this).text())
                    res.empty()
                    enterOrBackspace($input, {
                        key: 'Tab', preventDefault: () => {
                        }
                    })
                    $input.empty()
                    res.addClass("vhdn")
                })
            })
        </script>

        <script>
            /*      BUTTONS         */
            function setControlsGrid() {
                const size = $(".ph-controls button").length/$(".picdiv").length
                $(".ph-controls").addClass("g-"+size)
            }

            function setHoverStyling() {
                $(".ph-controls button").hover(
                        function () {
                            const parent = $(this).parent()
                            $("#" + parent.attr("id") + " button").addClass("tdo")
                            $(this).removeClass("tdo")
                        },
                        function () {
                            const parent = $(this).parent()
                            $("#" + parent.attr("id") + " button").removeClass("tdo")
                        }
                )
            }

            $(document).ready(function () {
                setControlsGrid()
                setHoverStyling()
            })
        </script>
    </head>
    <body>
        <div class="bg-dark-orange">
            <div th:replace="~{fragments/header :: header}"></div>
            <div id="hrepdiv" class="bg-transparent"></div>
        </div>
        <main class="mt-10 mb-10 p-s-2 w-100 bg-light-orange">
            <div class="ffr">
                <div class="ffc w-75">
                    <div class="tb g-5 mt-5 w-100 p-2" id="pictures">
                        <div class="picdiv ffc" th:each="ph, i: ${allImages}" th:id="|p-${ph.key.getId()}|" th:data-tags="${#strings.listJoin(ph.value, ',')}" th:data-src="|/images/thumbs/${ph.key.getPath()}.${ph.key.getExt()}|" th:classappend="${i.index lt last ? '' : 'n gtm'}">
                            <img th:if="${i.index lt last}" th:src="|/images/thumbs/${ph.key.getPath()}.${ph.key.getExt()}|" th:alt="${ph.key.getId()}" class="w-100 result-picture">
                            <img th:if="${i.index ge last}" th:alt="${ph.key.getId()}" class="w-100 result-picture" src="">

                            <div class="ph-controls" th:id="|controls-${ph.key.getId()}|">
                                <button class="crs-p gallery t-all-2s" th:data-src="|/images/${ph.key.getPath()}.${ph.key.getExt()}|" data-fancybox="gallery"><i class="fa fa-eye"></i></button>
                                <button class="crs-p t-all-2s" sec:authorize="hasAnyAuthority('o', 'w', 's')" th:onclick="'window.location.href=`/cn/i/edit?pic-id=' + ${ph.key.getId()} + '`'"><i class="fa fa-pencil"></i></button>
                                <button class="crs-p t-all-2s" sec:authorize="hasAnyAuthority('o', 'd', 's')" th:onclick="'window.location.href=`/cn/i/delete?pic-id=' + ${ph.key.getId()} + '`'"><i class="fa fa-trash"></i></button>
                                <button class="crs-p t-all-2s" sec:authorize="hasAnyAuthority('o', 'w', 'd', 'r', 's')"><a th:href="|/images/${ph.key.getPath()}.${ph.key.getExt()}|" download=""><i class="fa fa-download"></i></a></button>
                            </div>

                        </div>
                    </div>
                    <div id="pnav" class="tw w-75 p-s-2"></div>
                </div>
                <div class="ffc w-25">
                    <div class="tb p-s-2 w-100 mt-10">
                        <div class="w-100 p-2" id="search">
                            <input id="categories-input" type="search" class="w-100 p-1" placeholder="Search for a category...">
                            <form id="tagsForm" method="get" class="vhdn">
                                <input id="hidden-categories-input" name="hidden-tags" th:name="hidden-tags" type="hidden" class="vhdn">
                            </form>
                            <div id="categories-results" class="w-100 vhdn p-b-0"></div>
                            <div id="tagsDiv" class="p-s-1"><i id="tagsDivBegin"></i></div>
                        </div>
                        <div class="w-100 tb p-2">
                            <p class="w-100 tc">Advanced research</p>
                            <div class="ffc mt-2" id="adv-rsc">
                                <div class="ffr">
                                    <div class="w-50"><p>Shot before</p></div>
                                    <div class="w-50 te"><label for="shotbefore"><input id="shotbefore" type="date"></label></div>
                                </div>
                                <div class="ffr">
                                    <div class="w-50"><p>Shot after</p></div>
                                    <div class="w-50 te"><label for="shotafter"><input id="shotafter" type="date"></label></div>
                                </div>
                                <div class="ffr">
                                    <div class="w-50"><p>Uploaded before</p></div>
                                    <div class="w-50 te"><label for="uploadedbefore"><input id="uploadedbefore" type="date"></label></div>
                                </div>
                                <div class="ffr">
                                    <div class="w-50"><p>Uploaded after</p></div>
                                    <div class="w-50 te"><label for="uploadedafter"><input id="uploadedafter" type="date"></label></div>
                                </div>
                                <div class="ffr">
                                    <div class="w-50"><p>Uploaded after</p></div>
                                    <div class="w-50 te"><label for="size"><input id="size" type="range"></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>

        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js"></script>
        <script>
            Fancybox.bind("[data-fancybox]", {
                Carousel: {
                    Toolbar: {
                        display: {
                            left: ["counter"],
                            middle: [
                                "zoomIn",
                                "zoomOut",
                                //"toggle1to1",
                                //"rotateCCW",
                                //"rotateCW",
                                //"flipX",
                                //"flipY",
                                //"reset",
                            ],
                            right: ["autoplay", "thumbs", "close"],
                        },
                    },
                },
            });
        </script>
    </body>
</html>