.fl {
    text-decoration: none;
    color: white;
}
.fl:hover {
    text-decoration: underline;
}
#footer {
    margin-top: 5vh;
    height: 10vh;
    position: fixed;
    bottom: 0;
}
#footer > div {
    height: inherit;
}
#frepdiv {
    display: none;
    height: 10vh;
}