.fl {
    text-decoration: none;
    color: white;
}
.fl:hover {
    text-decoration: underline;
}
#footer {
    height: 10vh;
    position: fixed;
    bottom: 0;
}
#frepdiv {
    /*margin-top: 5vh;*/
    height: 10vh;
    background: transparent;
}