:root {
    --translate: 0;
}

#header {
    position: fixed;
    height: 10vh;
}
#header>div {
    height: inherit;
}
#hrepdiv {
    height: 10vh;
}
.wlc-tr {
    transition: all 2s;
}
.wlc-tr-u {
    transform: translateY(calc(var(--translate) * -2px));
}