@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login-container{
    background-color:var(--darkorange);
    border-radius:3vh;
    overflow:hidden;
    width:50vw;
    height:60vh;
    box-shadow: 5px 5px 10px 0 grey;
    text-align:center;
}
.login-container h1 {
    color: white;
    font-size: 3vh;
    line-height: 200%;
    margin-bottom: 2vh;
}
.login-container p{
    font-size: 2vh;
    line-height: 200%;
    margin-bottom: 5vh;
}

.login-container form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 7vh 2vh 7vh;
}

input{
    width:100%;
    /*height:5vh;*/
    padding:4%;
    border-radius:1vh;
    font-size:14px;
    outline:none;
    border:2px solid white;
}
form button {
    border-radius: 1vh !important;
}