@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --lightorange:#ffdbb6;
    --darkorange:#fe7f00;
    --darkorangealpha:#fe7f00aa;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color:var(--lightorange);
}

p, span, h1, h2, h3, h4 {
    font-weight: bold;
}
a, a:visited {
    color: unset;
}

button {
    padding: 2%;
    border: none;
    background-color: var(--darkorange);
    color: white;
    border-radius: 1vh;
}
textarea {
    resize: none;
    font: inherit;
    font-size: small;
}

.bg-dark-orange {
    background-color: #fe7f00;
}
.bg-light-orange {
    background-color: #ffdbb6;
}
.bg-transparent {
    background-color: transparent;
}

.w-4vw {
    width: 4vw;
}
.w-0 {
    width: 0;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.m-0 {
    margin: 0;
}
.m-s-1 {
    margin: 0 1vw;
}
.p-0 {
    padding: 0 !important;
}
.p-b-0 {
    padding-bottom: 0 !important;
}
.p-b-1 {
    padding-bottom: 1% !important;
}
.p-1 {
    padding: 1%;
}
.p-2 {
    padding: 2%;
}
.p-s-1 {
    padding-left: 1%;
    padding-right: 1%;
}
.p-s-2 {
    padding-left: 2%;
    padding-right: 2%;
}
.p-5 {
    padding-bottom: 5vh;
}
.p-10 {
    padding-bottom: 10vh;
}
.p-20 {
    padding-bottom: 20vh;
}
.p-25 {
    padding-bottom: 25vh;
}
.p-50 {
    padding-bottom: 50vh;
}
.p-75 {
    padding-bottom: 75vh;
}
.p-100 {
    padding-bottom: 100vh;
}
.z-3 {
    z-index: 3;
}
.g-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1vw;
}
.g-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}
.g-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}
.g-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}
.g-5 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1vw;
}
.ib {
    display: inline-block;
}
.n {
    display: none !important;
}
.f {
    display: flex;
}
.ffr {
    display: flex;
    flex-direction: row;
}
.ffc {
    display: flex;
    flex-direction: column;
}
.fw {
    flex-wrap: wrap;
}
.m-a {
    margin: auto;
}
.mt-10 {
    margin-top: 10vh;
}
.mt-5 {
    margin-top: 5vh;
}
.mt-2 {
    margin-top: 2vh;
}
.mt-1 {
    margin-top: 1vh;
}
.mb-10 {
    margin-bottom: 10vh;
}
.m-s-5 {
    margin-left: 5vw;
    margin-right: 5vw;
}
.b-r-c-3 {
    border: 1px solid black;
    border-radius: 3vh;
}
.b-1-do {
    border: 1px solid var(--darkorange);
}
.b-r-1 {
    border-radius: 1vh;
}
.b-r-2 {
    border-radius: 2vh;
}
.tw {
    color: white;
}
.tdo {
    color: var(--darkorange);
}
.t-all-2s {
    transition: all .2s;
}
.tb {
    color: black;
}
.ts {
    text-align: start;
}
.te {
    text-align: end;
}
.tc {
    text-align: center;
}
.tul {
    text-decoration: underline;
}
.tbr.title {
    font-weight: bolder;
    font-size: 40px;
}
.tbr.path {
    font-weight: bolder;
    font-size: 31px;
}
.ichl {
    padding: 0 1vw;
    font-size: 20px;
}
.jca {
    justify-content: space-around;
}
.jcc {
    justify-content: center;
}
.jce {
    justify-content: space-evenly;
}
.aic {
    align-items: center;
}
.pfxd {
    position: fixed;
}
.prlt {
    position: relative;
}
.pabs {
    position: absolute;
}
.vhdn {
    visibility: hidden;
    display: none;
}
.crs-p:hover {
    cursor: pointer;
}
#search {
    border: 2px solid var(--darkorange);
    border-radius: 1vw;
    background-color: white;
}
#categories-input {
    border: transparent;
    border-radius: inherit;
    font-size: inherit;
}
input:focus-visible, textarea:focus-visible {
    outline: none;
}
#categories-results {
    border-radius: inherit;
    padding: 2% 0;
}
#categories-results > p {
    padding: 0.5% 1%;
}
.result {
    font-weight: normal;
}
.result:hover {
    background-color: #AAA;
    cursor: pointer;
}
.result:focus-visible, .result:focus {
    background-color: #AAA;
}
.no-result {
    font-weight: normal;
    cursor: not-allowed !important;
}

#search span.tag {
    color: var(--darkorange);
    border: 1px solid var(--darkorange);
    background-color: var(--lightorange);
    padding: 3px 8px;
    margin: 2px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
}
.ph-controls {
    overflow: hidden;
    gap: 0 !important;
}
.ph-controls button:last-child {
    border-bottom-right-radius: 1vw !important;
}
.ph-controls button:first-child {
    border-bottom-left-radius: 1vw !important;
}
.ph-controls button {
    border: 0;
    border-radius: 0;
    padding: 7%;
}
img.result-picture {
    aspect-ratio: 4/3;
    object-fit: cover;
}
.data p:not(.data p:last-child) {
    margin-bottom: 2vh;
}
.tag-edit {
    --padding: .5%;
    margin-right: .5%;
    margin-left: .5%;
}
.tag-edit:first-child {
    margin-left: 0;
}
.tag-edit:last-child {
    margin-right: 0;
}
.h-in {
    height: inherit;
}
table#data {
    border-radius: 1vh;
    border-spacing: 0;
    word-break: break-word;
}
td, th {
    padding: 1%;
    overflow: clip;
}
th {
    background-color: var(--darkorangealpha);
}
td:first-child, th:first-child {
    text-align: center;
}
td:last-child {
    padding: 0;
}
td button {
    aspect-ratio: 1;
    border-radius: 1vh;
    border: none;
}
.th-fr-f {
    border-top-left-radius: 1vh;
    width: 5%;
}
.th-fr-l {
    border-top-right-radius: 1vh;
    width: 7%;
}
.td-lr-f {
    border-bottom-left-radius: 1vh;
}
.td-lr-l {
    border-bottom-right-radius: 1vh;
}
a.table-pg-s {
    padding: .5%;
    text-decoration: none;
    border-radius: 1vh;
    background-color: var(--darkorangealpha);
    font-variant-numeric: tabular-nums;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
}
a.table-pg-s.active {
    background-color: var(--darkorange);
}
#tnav, #pnav {
    margin-top: 1vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1.5vw;
    gap: 1%;
}
#adv-rsc input {
    border: none;
    background-color: transparent;
    font-family: inherit;
}
#overlay {
    background-color: rgba(0,0,0,0.58);
    z-index: 999;
}
#overlay > div {
    align-self: center;
}
#overlay input {
    font-family: inherit;
}
.present-tag {
    color: white;
    padding: 3px 8px;
    margin: 2px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
}
.striped-overlay {
    background: repeating-linear-gradient( -45deg, transparent, transparent 5px, red 5px, red 10px );
}
.add-overlay {
    border-radius: 3px;
    overflow: hidden;
}