<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>PicMan Admin</title>
        <meta charset="utf-8">
        <meta name="author" content="Angelo">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="shortcut icon" th:href="@{/imgs/logo.png}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css">

        <script>
            function tablepanes() {
                $('.tnav').empty()
                const rows = $('tbody tr:not(div.n table tbody tr)')
                const rowsShown = Number($("table:not(div.n table)").attr("data-rs"));
                const divid = $("[id$=-control]:not(.n)").attr("id")
                const rowsTotal = rows.length;
                const numPages = rowsTotal / rowsShown;
                for(let i = 0;i < numPages;i++) {
                    let pageNum = i + 1;
                    $('#' + divid + ' .tnav').append('<a class="table-pg-s ib b-1-do" href="#" rel="'+i+'">'+pageNum+'</a> ');
                }

                rows.hide()
                rows.slice(0, rowsShown).show()
                let i = (rowsShown>rowsTotal)?(rowsTotal-1):(rowsShown-1)
                if (rows.parent().parent().hasClass("data")) {
                    const fch = rows.slice(0, rowsShown)[i].children
                    $(fch[0]).addClass("td-lr-f");
                    $(fch[fch.length-1]).addClass("td-lr-l");
                }
                $('#' + divid + ' .tnav a:first').addClass('active');
                $('#' + divid + ' .tnav a').bind('click', function(){

                    $('#' + divid + ' .tnav a').removeClass('active');
                    $(this).addClass('active');
                    let currPage = $(this).attr('rel');
                    let startItem = currPage * rowsShown;
                    let endItem = startItem + rowsShown;
                    const k = $(rows).css('opacity','0.0').hide().slice(startItem, endItem).css('display','table-row').animate({opacity:1}, 300);
                    if (rows.parent().parent().hasClass("data")) {
                        const ch = $(k).last().children()
                        $(ch[0]).addClass("td-lr-f")
                        $(ch[ch.length - 1]).addClass("td-lr-l")
                    }

                });
            }
            $(document).ready(function() {
                $(".sidebar p[id$=-menu]").on("click", function () {
                    $("p[id$=-menu]").removeClass("selected-menu")
                    $("[id$=-control]").addClass("n")
                    const id = this.id
                    const item = $("#" + id)
                    item.addClass("selected-menu")
                    $("#" + id.split("-")[0] + "-control").removeClass("n")
                    tablepanes()
                })
            })
            $(document).ready(function () {
                tablepanes()
            })
        </script>

    </head>
    <body>
        <div class="bg-dark-main">
            <div th:replace="~{fragments/header :: header}"></div>
            <div id="hrepdiv" class="bg-transparent"></div>
        </div>
        <main class="ffr w-100">
            <div class="ffc w-15 sidebar bg-main text-on-dark-main pfxd h-100">
                <p sec:authorize="hasAnyAuthority('o', 'u')" class="selected-menu crs-p" id="users-menu">Users</p>
                <p sec:authorize="hasAuthority('o')" class="crs-p" id="categories-menu">Categories</p>
                <p sec:authorize="hasAuthority('o')" class="crs-p" id="pictures-menu">Pictures</p>
                <p sec:authorize="hasAuthority('o')" class="crs-p" id="logs-menu">Events logs</p>
                <p sec:authorize="hasAuthority('o')" class="crs-p" id="settings-menu">Application settings</p>
            </div>
            <div sec:authorize="hasAnyAuthority('o', 'u')" class="ffc bg-light-main text-on-light-main p-2 w-85 ml-a" id="users-control">
                <table class="data text-on-light-main b-1-do" data-rs="10">
                    <thead>
                        <tr>
                            <th class="th-fr-f b-1-do">&num;</th>
                            <th class="b-1-do">Name</th>
                            <th class="b-1-do">Email</th>
                            <th class="b-1-do">
                                Permissions
                                <div class="g-6 mt-1" style="gap: 0">
                                    <p>Admin</p>
                                    <p>User control</p>
                                    <p>Support</p>
                                    <p>Delete</p>
                                    <p>Write</p>
                                    <p>Readonly</p>
                                </div>
                            </th>
                            <th class="th-fr-l b-1-do">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usr: ${users}">
                            <td class="b-1-do w-10" th:text="${usr.getId()}"></td>
                            <td class="b-1-do w-15" th:text="${usr.getName()}"></td>
                            <td class="b-1-do w-15" th:text="${usr.getEmail()}"></td>
                            <td class="b-1-do w-50 tc" sec:authorize="hasAuthority('s') and hasAuthority('o')" th:if="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}">
                                <div class="g-6">
                                    <label th:each="prv: ${roles}">
                                        <input type="checkbox" th:name="${prv}" th:id="${prv}" th:checked="${usr.getPrivileges().contains(prv)}">
                                    </label>
                                </div>
                            </td>
                            <td class="b-1-do w-50 tc" sec:authorize="!(hasAuthority('s') and hasAuthority('o'))" th:if="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}">
                                Roles are hidden, user is superadmin
                            </td>
                            <td class="b-1-do w-50 tc" th:if="${!(usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                            and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s')))}">
                                <div class="g-6">
                                    <label th:each="prv: ${roles}">
                                        <input type="checkbox" th:name="${prv}" th:id="${prv}" th:checked="${usr.getPrivileges().contains(prv)}">
                                    </label>
                                </div>
                            </td>
                            <td class="b-1-do w-10">
                                <div class="w-100 f jce">
                                   <button title="Reset password" class="text-on-dark-main w-25" sec:authorize="hasAuthority('s') and hasAuthority('o')" th:if="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}"><i class="fa fa-user-lock"></i></button>
                                   <button title="Reset password" class="text-on-dark-main w-25" th:unless="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}"><i class="fa fa-user-lock"></i></button>
                                   <button title="Delete user" class="text-on-dark-main w-25" sec:authorize="hasAuthority('s') and hasAuthority('o')" th:if="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}"><i class="fa fa-trash"></i></button>
                                   <button title="Delete user" class="text-on-dark-main w-25" th:unless="${usr.getPrivileges().contains(T(java.lang.Character).valueOf('o'))
                                           and usr.getPrivileges().contains(T(java.lang.Character).valueOf('s'))}"><i class="fa fa-trash"></i></button>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="tnav text-on-dark-main"></div>
            </div>
            <div sec:authorize="hasAuthority('o')" class="ffc bg-light-main text-on-light-main n p-2 w-85 ml-a" id="categories-control">
                <table class="data text-on-light-main b-1-do" data-rs="10">
                    <thead>
                        <tr>
                            <th class="th-fr-f b-1-do w-5">&num;</th>
                            <th class="b-1-do w-20">Name</th>
                            <th class="b-1-do w-25">Description</th>
                            <th class="b-1-do w-40">Pictures assigned</th>
                            <th class="th-fr-l b-1-do w-10">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="cps: ${cpsbind}">
                            <tr>
                                <td class="b-1-do w-5"><a th:href="@{/cn/c/edit?cat-id={cat-id}(cat-id=${cps.key.getId()})}" th:text="${cps.key.getId()}"></a></td>
                                <td class="b-1-do w-20" th:text="${cps.key.getName()}"></td>
                                <td class="b-1-do w-25" th:text="${cps.key.getDescription()}"></td>
                                <td class="b-1-do w-40"><th:block th:each="pic: ${cps.value}"><a th:text="${pic}" th:href="@{/cn/i/edit?pic-id={pic-id}(pic-id=${pic})}"></a> </th:block></td>
                                <td class="b-1-do w-10">
                                    <div class="w-100 f jce">
                                        <button title="Delete category" class="text-on-dark-main w-25" th:onclick="'window.location.href=`/cn/admin/delete-category?cat-id=' + ${cps.key.getId()} + '`'"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="tnav text-on-dark-main"></div>
            </div>
            <div sec:authorize="hasAuthority('o')" class="ffc bg-light-main text-on-light-main n p-2 w-85 ml-a" id="pictures-control">
                <table class="data text-on-light-main b-1-do" data-rs="10">
                    <thead>
                        <tr>
                            <th class="th-fr-f b-1-do w-5">&num;</th>
                            <th class="b-1-do w-50">Filename</th>
                            <th class="b-1-do w-15">Date added</th>
                            <th class="b-1-do w-20">Categories</th>
                            <th class="th-fr-l b-1-do w-5">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="pc: ${pcbind}">
                            <tr>
                                <td class="b-1-do w-5"><a th:href="@{/cn/i/edit?pic-id={pic-id}(pic-id=${pc.key.getId()})}" th:text="${pc.key.getId()}"></a></td>
                                <td class="b-1-do w-50" th:text="|${pc.key.getPath()}.${pc.key.getExt()}|"></td>
                                <td class="b-1-do w-15" th:text="${pc.key.getFormattedDate(pc.key.getDateadded())}"></td>
                                <td class="b-1-do w-15"><th:block th:each="cat: ${pc.value}"><a th:text="${cat}" th:href="@{/cn/c/edit?cat-id={cat-id}(cat-id=${cat})}"></a> </th:block></td>
                                <td class="b-1-do w-10">
                                    <div class="w-100 f jce">
                                        <button title="Protect picture" class="text-on-dark-main w-25" th:onclick="'window.location.href=`/cn/admin/protect-picture?pic-id=' + ${pc.key.getId()} + '`'"><i th:classappend="${pc.key.isProtection() ? 'fa-unlock':'fa-lock'}" class="fa"></i></button>
                                        <button title="Delete picture" class="text-on-dark-main w-25" th:onclick="'window.location.href=`/cn/admin/delete-picture?pic-id=' + ${pc.key.getId()} + '`'"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <div class="tnav text-on-dark-main"></div>
            </div>
            <div sec:authorize="hasAuthority('o')" class="ffc bg-light-main text-on-light-main n p-2 w-85 ml-a" id="logs-control">
                <table class="w-100 logs" data-rs="20">
                    <thead>
                        <tr>
                            <th class="w-5">&num;</th>
                            <th class="w-15">Date</th>
                            <th class="w-15">Page</th>
                            <th class="w-15">Class</th>
                            <th class="w-25">User</th>
                            <th class="w-25">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="log: ${logs}">
                            <td class="tc" th:text="${log.getId()}"></td>
                            <td th:text="${log.getFormattedDate(log.getDate())}"></td>
                            <td th:text="${log.getPagename()}"></td>
                            <td th:text="${log.getClassname()}"></td>
                            <td th:text="${log.getUserid() == null ? 'unauthenticated' : log.getUserid().logToString()}"></td>
                            <td th:text="${log.getDescription()}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="tnav text-on-dark-main"></div>
            </div>
            <div sec:authorize="hasAuthority('o')" class="ffc bg-light-main text-on-light-main n p-2 w-85 ml-a" id="settings-control">
                <table class="w-100 logs" data-rs="20">
                    <thead>
                        <tr>
                            <th class="w-50">Key</th>
                            <th class="w-50">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="se: ${settings}">
                            <td th:text="${se.key}"></td>
                            <td th:text="${se.value}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="tnav text-on-dark-main"></div>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>